html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
}

#anime-zone {
  position: relative;
  display: flex;
  background-color: #2B2B2B;
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(97, 65, 140, 0.8) 100%);
  background-size: cover;
}

#anime-zone-before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

main {
  padding: 5px;
}

#poster-zone {
  position: relative;
  background-color: #353535;
  width: 42%;
  border: 10px;
  margin: 15px;
  border-radius: 10px;
  flex-shrink: 0;
}

#poster-zone img {
  width: 100%;
  border-radius: 10px;
}

#anime-name-text {
  color: rgba(255, 255, 255, 0.8);
  word-break: break-word;
  overflow: auto;
  font-weight: bold;
  font-size: 20px;
}

#name-and-table {
}

#table-anime {
  margin-top: -5px;
  color: rgba(255, 255, 255, 0.7);
}

#buttons-zone {
  height: 43%;
  margin-top: 0px;
}

.with-bg-btn {
  position: absolute;
  margin-top: 15%;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 60px;
}

#view-btn {
  right: 3px;
  padding: 11px;
  padding-left: 13px;
  border-radius: 50px;
  color: #61418C;
}

#bookmark-btn {
  right: 50px;
  padding: 11px;
  padding-left: 13px;
  padding-right: 13px;
  color: rgba(255, 255, 255, 0.5);
}

#like-btn {
  right: 97px;
  padding: 11px;
  color: rgba(255, 255, 255, 0.5);
}

#description {
  background-color: #2B2B2B;
  border-top-color: #1E1E1E;
  width: 100%;
  padding: 0.1px;
  overflow: hidden;
  margin-top: 10px;
  height: 50px;
  transition: height 0.5s ease;
  
  border-bottom: 2px solid #61418C;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#description p {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-weight: 600;
  font-size: 17px;
}

#description:hover {
  height: 500px;
}

#characters-zone {
  display: flex;
  word-break: break-word;
  overflow: hidden;
  margin-top: -5px;
}

.one-character {
  background-color: #551B8C;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-right: 10px;
}

.one-character img {
  width: 100%;
  height: auto;
  border-radius: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
}